#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

brew bundle --no-lock --file=/dev/stdin << Brewfile

brew "chezmoi"
brew 'mas'

cask "1password"
cask "1password-cli"
cask "visual-studio-code"

mas  "Xcode", id: 497799835

Brewfile

{{ end }}
