#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

brew bundle --no-lock --file=/dev/stdin << Brewfile

brew "chezmoi"
brew "mas"
brew "nvim"
brew "zsh-completions"
brew "starship"
brew "eza"
brew "mise"

cask "1password"
cask "1password-cli"
cask "font-udev-gothic-nf"
cask "wezterm"
cask "arc"
cask "google-chrome"
cask "firefox"
cask "cmd-eikana"

cask "visual-studio-code"
vscode "catppuccin.catppuccin-vsc"
vscode "vscode-icons-team.vscode-icons"
vscode "asvetliakov.vscode-neovim"

mas  "Xcode", id: 497799835

Brewfile

{{ end }}
