#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask-fonts"

brew bundle --no-lock --file=/dev/stdin << Brewfile

brew "chezmoi"
brew "mas"
brew "nvim"

cask "1password"
cask "1password-cli"
cask "font-udev-gothic-nf"
cask "wezterm"

cask "visual-studio-code"
vscode "catppuccin.catppuccin-vsc"
vscode "vscode-icons-team.vscode-icons"
vscode "asvetliakov.vscode-neovim"

mas  "Xcode", id: 497799835

Brewfile

{{ end }}
